/* 使用 fonts.font.im 替换 fonts.googleapi.com, Ref: https://googlefonts.cn/ */
@import url(https://fonts.font.im/css?family=Roboto|Noto+Sans|Open+Sans|Roboto+Slab:400,300,300italic,400italic,500,500italic);
@import url(https://cdn.staticfile.org/twitter-bootstrap/5.2.0/css/bootstrap.min.css);
@import url(https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css);

body {
	/* https://hituyu.com/top */
	background: #fefefe url(bg/涡流.png);
}
b,
strong {
  font-weight: bold !important;
}

nav {
	background-color: #3d3639;
	border-color: #221e20;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

.container {
	max-width: 900px;
}
/* 
.navbar:before,
.navbar:after {
	display: table;
	content: " "
}

.navbar:after {
	clear: both
}
 */
main {
	min-height: 500px;
	padding-bottom: 60px;
}